* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "nunito", sans-serif;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fb7ba2, #fce043);
}
.container {
  width: 400px;
  height: 300px;
  margin: 2rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 0.8rem;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background: black;
  color: white;
}
.btn:hover {
  cursor: pointer;
}
.task {
  padding-left: 1.5rem;
  background: rgba(253, 253, 253, 0.5);
  margin: 0.2rem 1rem;
  position: relative;
  text-align: justify;
  cursor: pointer;
}
.task:hover {
  background: rgba(253, 253, 253, 0.7);
}
.x-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.x-icon:hover {
  cursor: pointer;
  color: red;
}
.task.reminder {
  border-left: 5px solid royalblue;
}
