* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "nunito", sans-serif;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  height: 200px;
  border: 1px solid blue;
  margin: 2rem;
  border-radius: 5px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 0.8rem;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background: black;
  color: white;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  transform: scale(1.1);
}
.task {
  display: flex;
  padding-left: 1.5rem;
}
